$primary: #0d6efd;    
$secondary: #6c757d;  
$warning: #ffc107;    
$danger: #dc3545;    
$light: #f8f9fa;     
$dark: #212529;      

$text-light: #fff;
$sky-light: #4dabf7;   
$sky-dark: #0a3d91;    
$danger-light: #d67a83;
$bg-dark: rgb(41, 40, 40);